
/.venv/
/venv/
/env/

__pycache__/
*.pyc
*.pyo
*.pyd

/dist/
/build/
*.egg-info/
*.egg

.pytest_cache/
.coverage
/htmlcov/
nosetests.xml
coverage.xml

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.env
.env
.env.*
!.env.example

.DS_Store
Thumbs.db
desktop.ini

*.log
logs/